.meta-container {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border: 1px solid var(--main-border-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.meta-header {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.center {
    align-self: center;
}

.meta-name {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-text-blue);

}

.meta-title {
    font-weight: 600;
    font-size: 1.4rem;
}

.meta-cards {
    margin-top: 1rem;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 1.5rem;
    
}

ul {
    list-style-type: none;
}


.btn-custom-outline{
    margin: 3rem 0 1.5rem 0;
    color:  var(--color-text-blue);
    font-size: 1.3rem;
    padding: .6rem .8rem .6rem 1.6rem;
    background-color: transparent;
    border: 1px solid var(--color-text-blue);
    outline: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    cursor: pointer;
}

.btn-custom-outline:hover{
    color:  white;
    background-color: var(--color-text-blue);
}

