<div *ngIf="!showPrivateInfo"  class="meta-container">
    <h3 class="meta-header center">client</h3>
    <h6 class="meta-name">{{client.firstName}}</h6>
    <h6 class="meta-name">{{client.middleName}}</h6>
    <h6 class="meta-name">{{client.lastName}}</h6>
    <h3 class="meta-title  mt-3">cards</h3>
    <h6 *ngIf="client?.cards.length === 0"  class="meta-cards">No cards on record</h6>
    <ul *ngIf="client?.cards.length > 0" >
        <li *ngFor="let card of client.cards" class="meta-cards"><h6 style="font-size: 1.2rem;">{{card}}</h6></li>
    </ul>
    <button class="btn-custom-outline" (click)="togglePrivateInfo()">private info</button>
</div>

<div *ngIf="showPrivateInfo" class="meta-container">
    <h3 class="meta-header">private info: <span class="meta-name">{{client.firstName}}&nbsp;{{client.lastName}}</span></h3>
    <table style="font-size: 1.3rem;">
        <tr><th style="padding-bottom: .5rem;">address</th></tr>
        <tr>
          <td>city: </td>
          <td>{{client?.address.city}} </td>
        </tr>
        <tr>
          <td>street: </td>
          <td>{{client?.address.street}} </td>
        </tr>
        <tr *ngIf="client?.address.app">
          <td >app: </td>
          <td>{{client?.address.app}} </td>
        </tr>
        <tr colspan ><th style="padding: 1rem 0;" >account</th></tr>
        <tr>
            <td style="padding-bottom: .5rem;">client since:</td>
            <td>{{client?.startDate}}</td>
        </tr>
        <tr>
            <td style="padding-bottom: .5rem;">balance:</td>
            <td>{{client?.balance | currency: 'BGN '}}</td>
        </tr>
        <tr>
            <td style="padding-bottom: .5rem;">cards:</td>
            <td>{{client?.cards.toString().split(',').join(', ')}}</td>
        </tr>
        <tr *ngIf="client?.loans.length > 0" ><th style="padding: 1rem 0;" >loans</th></tr>
        <tbody *ngFor="let loan of client?.loans" >
            <tr>
                <td style="padding-bottom: .5rem;">amount:</td>
                <td>{{loan.amount | currency: 'BGN '}}</td>
            </tr>
            <tr>
                <td style="padding-bottom: .5rem;">start date:</td>
                <td>{{loan.startDate}}</td>
            </tr>
            <tr>
                <td style="padding-bottom: .5rem;">end date:</td>
                <td>{{loan.endDate}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn-custom-outline" style="width: 50%;" (click)="togglePrivateInfo()">back</button>
</div>
