.calendar-container {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    min-width: 15rem;

}

.select-container {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    
}

.select-year {
    display: flex;
}

.select-month {
    display: flex;
}

.select {
    padding: 0 .3rem;
}

.icon-button {
    cursor: pointer;
}

.select-icon {
    margin-top: -2px;
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-text-dark-gray) ;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(1.5rem, max-content));
    grid-template-rows: auto;
    gap: 1rem;
}

.select-day{
    cursor: pointer;
}

.day-selected {
    display: inline-block;
    text-align: center;
    background-color: var(--color-grey-light);
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

