
<div class="calendar-container">
    <label for="startDate" style="font-size: 1.3rem;">{{label}}</label>
    <input type="text" class="form-control" style="font-size: 1.2rem;" id="startDate" 
        [(ngModel)]="selectedDate"
        (click)="onShowDataPicker($event)"
        (focus)="onShowDataPicker($event)">

    <div *ngIf="showDataPicker"  class="select-container" (click)="eventStop($event)">
        <div class="select-year"> 
            <div class="icon-button" (click)="this.selectYear($event, 'Dec')">
                <svg class="select-icon">
                    <use xlink:href='assets/svg/sprite.svg#caret-left'></use>
                </svg> 
            </div>
            <div class="select">
                <span>{{ this.year }}</span>
            </div>
            <div class="icon-button" (click)="this.selectYear($event, 'Inc')">
                <svg class="select-icon">
                    <use xlink:href='assets/svg/sprite.svg#caret-right'></use>
                </svg> 
            </div>
        </div>
        <div class="select-month">
            <div class="icon-button" (click)="this.selectMonth($event, 'Dec')">
                <svg class="select-icon">
                    <use xlink:href='assets/svg/sprite.svg#caret-left'></use>
                </svg> 
            </div>
            <div class="select">
                <span>{{ months[month] }}</span>
            </div>
            <div class="icon-button" (click)="this.selectMonth($event, 'Inc')">
                <svg class="select-icon">
                    <use xlink:href='assets/svg/sprite.svg#caret-right'></use>
                </svg> 
            </div>
        </div>
    </div>
    <div *ngIf="showDataPicker" class="days-container" (click)="eventStop($event)">
        <span *ngFor="let weekday of this.week" class="">{{ weekday }}</span>
        <span *ngFor="let day of this.daysArr"
            [ngClass]="{'select-day': true, 'day-selected': day == daySelected ? true : false}"
            (click)="this.selectDay($event, day)">{{ day }}</span>
    </div>
</div>



