.my-container {
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 1400px) {
    .my-container {
        width: 95%;
    }
}

.background-container {
    width: 100%;
    background-color: var(--color-background);
}

.title {
    margin: 4rem 0;
    text-align: center;
    font-size: 1.8rem;
}