<h5><b>edit client details</b></h5>
<br>
<form [formGroup]="clientForm">
    <div class="form-row">
        <div class="form-group col-md-4">
          <label for="firstName">first name</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </div>
        <div class="form-group col-md-4">
          <label for="middleName">middle name</label>
          <input type="text" class="form-control" id="middleName" formControlName="middleName">
        </div>
        <div class="form-group col-md-4">
            <label for="lastName">last name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>
    </div>
    <div formGroupName="address" style="margin-top: 1rem;">
        <h6><b>address</b></h6>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="city">city</label>
                <input type="text" class="form-control" id="city" formControlName="city">
            </div>
            <div class="form-group col-md-4">
                <label for="street">street</label>
                <input type="text" class="form-control" id="street" formControlName="street">
            </div>
            <div class="form-group col-md-4">
                <label for="app">app</label>
                <input type="text" class="form-control" id="app" formControlName="app">
            </div>
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="startDate">start date</label>
            <input type="text" class="form-control" id="startDate" formControlName="startDate">
        </div>
        <div class="form-group col-md-4">
            <label for="balance">balance</label>
            <input type="text" class="form-control" id="balance" formControlName="balance">
        </div>
        <div class="form-group col-md-4">
            <label for="cards">cards</label>
            <input type="text" class="form-control" id="cards" formControlName="cards">
        </div>
    </div>    
</form>

<form *ngIf="client.loans.length > 0" [formGroup]="clientLoanForm">
    <br>
    <h6><b>Loan</b></h6>
    <div   class="form-row">
        <div class="form-group col-md-4">
            <label for="amount">amount</label>
            <input type="text" class="form-control" id="amount" formControlName="amount">
        </div>
        <div class="form-group col-md-4">
            <label for="startDate">start date</label>
            <input type="text" class="form-control" id="startDate" formControlName="startDate">
        </div>
        <div class="form-group col-md-4">
            <label for="endDate">end date</label>
            <input type="text" class="form-control" id="endDate" formControlName="endDate">
        </div>
    </div>
</form>
<br>
<div style="display: flex; justify-content: flex-end;">
    <button type="button" class="btn btn-light" style="font-size: 1.3rem; margin-right: 2rem;" 
    (click)="cancelUpdate()">cancel</button>
    <button type="button" class="btn btn-light" style="font-size: 1.3rem;" 
    (click)="updateClient()" 
    [disabled]="!this.clientForm.valid || client.loans.length > 0 ? !this.clientLoanForm.valid : false">save</button>
</div>
