/* You can add global styles to this file, and also import other style files */


:root {
    --main-border-color:#e9e9e9;
    --color-background: #F2F3F3;
    --color-text-blue: #006ac3;
    --color-text-dark: #252525;
    --color-text-dark-gray: #444444;
    --color-grey: #777;
    --color-grey-light: #9c9b9b;
  }

  * {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem=10px, 10px/16px = 62.5% */
    background-color: var(--color-background) !important;

}

body {
    font-family:  "Roboto",  "Arial", sans-serif, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
