.user-container {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    width: 80%;
}

@media only screen and (max-width: 1200px) {
    .user-container {
        width: 100%;
    }
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 40rem;
    max-width: 100rem;
    background-color:white;
    border: 1px solid var(--main-border-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.list-shrink {
    width: 60%;
}

.meta {
    width: 30%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 900px) {
    .user-container {
        flex-direction: column;
    }
    .list-shrink {
        width: 100%;
    }
    .meta {
        width: 100%;
        margin: 2rem 0 0 0;
    }
}

.hide {
    display: initial;
}

@media only screen and (max-width: 650px) {
    .hide {
        display: none;
    }
}


.list-header {
    display: flex;
    color: var(--color-text-dark);
    padding: 1rem 2rem;
    width: 100%;
    border-bottom: 1px solid var(--main-border-color);
    scroll-behavior: unset;
}

.list-header_name{
    margin: 0;
    width:20%;
    font-weight: 600;
    font-size: 1.4rem;
}

.list-header_balance{
    margin: 0;
    font-weight: 600;
    font-size: 1.4rem;
}

.list-header_name:nth-child(3) {
    flex: 1;
}

.clients-list {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    max-height: 74vh;
    overflow-y: auto;

}

.clients-list::-webkit-scrollbar-track{
    width: 5px;
    background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.clients-list::-webkit-scrollbar {
    width: 2px;
}

.clients-list::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--main-border-color);
    border-radius:  5px   ;
    -webkit-border-radius:  5px   ;
    -moz-border-radius:  5px   ;
    -ms-border-radius:  5px   ;
    -o-border-radius:  5px   ;
}

.list-item {
    padding: 1rem 2rem;
    display: flex;

}

.list-item:not(:last-child) {
    border-bottom: 1px solid var(--main-border-color);
}

.list-item_name {
    margin: 0;
    width:20%;
    color: var(--color-text-blue);
    font-size: 1.5rem;
    font-weight: 200;
}
                
.list-item_name:nth-child(3) {
    flex: 1;
}

@media only screen and (max-width: 900px) {
    .list-item_name {
        width: 25%;
    }
    .list-header_name{
        width:25%;
    }
}

.list-item_balance {
    margin: 0 0 0 2rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.selected {
    background-color: var(--color-background);
    cursor: initial;
}

.list-item_group{
    display: flex;
    align-content: center;
}

.btn-custom-icon {
    margin: 0 1rem;
    margin-top: -0.5rem;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.delte-icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--color-text-dark-gray) ;
}

.edit-icon {
    margin-left: 3px;
    margin-top: -3px;
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--color-text-dark-gray) ;
}

.loan {
    margin-top: 2rem;
}

.loan-btn {
    margin-top: 2rem;
    width: 100%;
    color:  var(--color-text-blue);
    font-size: 1.3rem;
    padding: .6rem .8rem .6rem 1.6rem;
    background-color: white;
    border: 1px solid var(--main-border-color);
    outline: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition:  color, background-color .3s;
    -webkit-transition:  color, background-color .3s;
    -moz-transition:  color, background-color .3s;
    -ms-transition:  color, background-color .3s;
    -o-transition:  color, background-color .3s;
    cursor: pointer;
}

.loan-btn:hover{
    color:  white;
    background-color: var(--color-text-blue);
}

.loan-btn_hidden {
    visibility: hidden;
    margin-bottom: -4rem;
}