
<div class="user-container" [ngStyle]="{'justify-content': selectedClient ? 'space-between' : 'center'}">
    <div class="list-container" [ngClass]="{'list-container': true, 'list-shrink' : selectedClient}">
        <div class="list-header">
            <h3 class="list-header_name">First name</h3>
            <h3 class="list-header_name">Middle name</h3>
            <h3 class="list-header_name">Last name</h3>
            <h3 class="list-header_balance hide">Money balance</h3>
        </div>
        <ul class="clients-list">
            <li *ngFor="let client of clients; last as last" 
                [ngClass]="{'list-item': true, 'selected': client.id === selectedClient?.id }"
                (click)="selectClient(client)">
                <h6 class="list-item_name">{{client.firstName}}</h6>
                <h6 class="list-item_name">{{client.middleName}}</h6>
                <h6 class="list-item_name">{{client.lastName}}</h6>
                <div *ngIf="client.id === selectedClient?.id"  class="list-item_group">
                    <button class="btn-custom-icon" data-toggle="modal" data-target="#editModal" (click)="toggleRefresh()">
                        <span>edit</span>
                        <svg 
                            [ngClass]="{'edit-icon': true}">
                            <use xlink:href='assets/svg/sprite.svg#edit-24px'></use>
                        </svg> 
                    </button>
                    <button class="btn-custom-icon"  data-toggle="modal" data-target="#deleteModal">
                        <svg 
                            [ngClass]="{'delte-icon': true}">
                            <use xlink:href='assets/svg/sprite.svg#delete_forever-24px'></use>
                        </svg> 
                    </button>
                </div>
                <h6 class="list-item_balance hide">{{client.balance | currency: 'BGN '}}  </h6>
               
            </li>
        </ul>
    </div>
    <div *ngIf="selectedClient" class="meta" (click)="eventStop($event)">
        <app-user-meta [client]="selectedClient" ></app-user-meta>
        <button *ngIf="selectedClient.loans.length == 0"  type="button" 
            [ngClass]="{'loan-btn': true, 'loan-btn_hidden': showLoanDialog }" 
            #loan (click)="toggleShowLoanDialog()">
            add loan
        </button>

        <app-loan *ngIf="showLoanDialog" (cancel)="toggleShowLoanDialog()" (loan)="saveLoan($event)"></app-loan>      
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content" style="padding: 2rem 1.5rem;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-size: 1.5rem;">Confirm complete removal of this client! </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" style="font-size: 1.5rem;" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-light" style="font-size: 1.5rem;" data-dismiss="modal" (click)="deleteClient()">Delete</button>
        </div>
      </div>
    </div>
</div>

<!--Edit Modal -->
<div class="modal fade" id="editModal" >
    <div *ngIf="selectedClient"  class="modal-dialog modal-dialog-centered" >
      <div class="modal-content" style="padding: 2rem 1.5rem;">
        <div class="modal-body">
            <app-user-edit *ngIf="!refresh" [client]="this.selectedClient" (editedClient)="this.updateClient($event)"></app-user-edit>
        </div>
        
        <button #cancel type="button" class="btn btn-light" data-dismiss="modal" hidden>cancel</button>
      </div>
    </div>
</div>
