.loan-amount {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    width: 16.3rem;
}

.loan-footer {
    display: flex;
    justify-content: space-between;
}

.loan-btn-save{
    margin: 1.5rem 0;
    color:  var(--color-text-blue);
    font-size: 1.3rem;
    padding: .6rem .8rem .6rem 1.6rem;
    background-color: transparent;
    border: 1px solid var(--color-text-blue);
    outline: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    cursor: pointer;
}

.loan-btn-save:hover{
    color:  white;
    background-color: var(--color-text-blue);
}

button:disabled {
    cursor: not-allowed;
    background-color: white !important;
    color: var(--color-text-blue)!important;
}

.loan-header {
    margin: 1rem 0 1.5rem 0;
    font-weight: 600;
    font-size: 1.4rem;
    align-self: center;
}

.loan-container {
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border: 1px solid var(--main-border-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}