<form  class="loan-container mt-3" [formGroup]="loanForm">
    <h5 class="loan-header">loan details</h5>
    <app-calendar [label]="'start date'" (update)="updateLoanStartDate($event)"></app-calendar>
    <app-calendar [label]="'end date'" (update)="updateLoanEndDate($event)"></app-calendar>
    <label for="amount" style="font-size: 1.3rem;">amount</label>
    <input type="text" class="form-control loan-amount" id="amount" formControlName="amount">
    <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
    <div *ngIf="amount.errors.required">
        amount is required!
    </div>
    <div *ngIf="amount.errors.max">
        amount can't exeed 10000!
    </div>
    <div *ngIf="amount.errors.pattern">
        amount must be number!
    </div>

    </div>
    <div class="loan-footer">
        <button class="loan-btn-save" style="width: 35%;" (click)="onCancel()">cancel</button>
        <button class="loan-btn-save" style="width: 35%;" (click)="saveLoan()" [disabled]="!this.loanForm.valid">save</button>
    </div>
</form>
